<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="page d-flex flex-row flex-column-fluid">
      <!--begin::Aside-->
      <app-sidebar></app-sidebar>
      <!--end::Aside-->
      <!--begin::Wrapper-->
      <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
          <!--begin::Header-->
          <app-header></app-header>
          <!--end::Header-->
          <!--begin::Content-->
          <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
              <app-sub-header></app-sub-header>
              <!--begin::Post-->
              <div class="post d-flex flex-column" id="kt_post">
                  <!--begin::Container-->
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>
  </div>
</div>
