<div class="content d-flex flex-column flex-column-fluid" id="kt_content" style="padding: 5px 0 !important;">
  <div class="toolbar" id="kt_toolbar">
      <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
          <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
              <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Inventario</h1>
              <span class="h-20px border-gray-200 border-start mx-4"></span>
              <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                  <li class="breadcrumb-item text-dark">Lista de los Materiales</li>
              </ul>
          </div>
      </div>
  </div>

  <div class="post d-flex flex-column" id="kt_post">
    <div id="kt_content_container" class="container-fluid" >
        <div class="card">
            <div class="card-header border-0 pt-6">
                <div class="card-title">
                    <div class="d-flex align-items-center position-relative my-1">
                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="" />
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="" />
                            </svg>
                        </span>
                        <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Buscar" />
                    </div>
                </div>
                <div class="card-toolbar">

                  <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base" >
                          <button type="button" class="btn btn-light-primary me-3"  id="kt_drawer_filter_toggle" data-bs-toggle="modal" data-bs-target="#kt_modal_see_filter">
                          <span class="svg-icon svg-icon-2">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                  <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="" />
                              </svg>
                          </span>Filtrar</button>
                  </div>
              </div>
            </div>

            <div class="card-body pt-4" >
                <div id="" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="table-responsive">
                        <table class="table align-middle table-row-dashed fs-6 gy-5" id="inventory_list_admin">
                            <thead>
                            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0" style="background: #006AB7;">
                                <th class="min-w-125px text-center text-white">Nº</th>
                                <th class="min-w-125px text-center text-white">Nombre</th>
                                <th class="min-w-125px text-center text-white">Categoria</th>
                                <th class="min-w-125px text-center text-white">Cantidad</th>
                                <th class="min-w-125px text-center text-white">Precio</th>
                                <th class="min-w-125px text-center text-white">Tamaño</th>
                                <th class="min-w-125px text-center text-white">Descripcion</th>
                                <th class="min-w-125px text-center text-white">Mas Informacion</th>
                            </tr>
                            </thead>
                            <tbody class="fw-bold text-gray-600">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



</div>





<div class="modal fade" id="kt_modal_see_product_1" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header" id="kt_modal_update_product_headerqwe">
              <h3 class="fw-bolder">Detalles del Producto</h3>
              <div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal" aria-label="Close">
                  <span class="svg-icon svg-icon-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                  </span>
              </div>
          </div>
          <div class="modal-body">
              <form class="mx-4" novalidate="novalidate"  id="form" >
                  <div class="mb-5">
                    <h3 class="fw-bolder mb-5">{{productOne.nameProduct.toUpperCase()}}</h3>

                    <div class="form-group row">
                      <div class="col-xl-8 col-lg-8">
                        <div class=" fw-bolder input-group-sm">
                          <label for="staticNameCategory" class="fw-bolder pt-2 pb-2">Categoria:</label>
                          <span class="input-group-text input-group-solid" >{{productOne.category.nameCategory}}</span>
                        </div>
                        <div class=" fw-bolder input-group-sm">
                          <label for="staticSice" class="fw-bolder pt-2 pb-2">Tamaño:</label>
                          <span class="input-group-text input-group-solid" >600 metros</span>
                        </div>
                        <div class="form-group row">
                          <div class="col-xl-6 col-md-6">
                            <div class=" fw-bolder input-group-sm">
                              <label for="staticStockTotal" class="fw-bolder pt-2 pb-2">Cantidad:</label>
                              <span class="input-group-text input-group-solid" >{{productOne.stockTotal}}</span>
                            </div>
                          </div>
                          <div class="col-xl-6 col-md-6">
                            <div class=" fw-bolder input-group-sm">
                              <label for="staticDescription" class="fw-bolder pt-2 pb-2">Precio Unitario:</label>
                              <span class="input-group-text input-group-solid" >{{productOne.price}}</span>
                            </div>
                          </div>
                          <!-- <div class="col-xl-4 col-md-4">
                            <div class=" fw-bolder input-group-sm">
                              <label for="staticDescription" class="fw-bolder pt-2 pb-2">Descripcion:</label>
                              <span class="input-group-text input-group-solid" >Dale</span>
                            </div>
                          </div> -->
                        </div>
                        <div class=" fw-bolder input-group-sm">
                          <label for="staticDescription" class="fw-bolder pt-2 pb-2">Descripcion:</label>
                          <textarea class="form-control form-control-text form-control-solid" rows="2" disabled >{{productOne.descriptionProduct}}</textarea>
                          <!-- <span class="input-group-text input-group-solid" >{{productOne.descriptionProduct}}</span> -->
                        </div>
                        <div class=" fw-bolder input-group-sm pt-2" *ngIf="productOne.productColorResponses.length>0">
                          <div class="col-xl-8">
                            <div class="row pb-5">
                              <label for="" class="fw-bolder pt-2 pb-2">Color del Material:</label>
                              <div *ngFor="let colorAll1 of productOne.productColorResponses" class="col-auto" >
                                <div class="border border-dark" *ngIf="colorAll1.id>0" [ngStyle]="{'background': colorAll1.hex}" style="height: 45px; width: 50px; "></div>
                                <div class="h-50 d-flex align-items-center justify-content-center">
                                  <h5>{{colorAll1.stockColor}}</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class=" fw-bolder input-group-sm pt-2" *ngIf="productOne.productSeriesResponses.length>0">
                          <div class="col-xl-8">
                            <div class="row pb-5">
                              <label for="" class="fw-bolder pt-2 pb-2">Numero de Series:</label>
                              <div *ngFor="let seriesAlls of productOne.productSeriesResponses" class="card border border-dark col-auto m-2">
                                <div  class="col-auto text-dark p-1">
                                  <p  class="card-text">{{seriesAlls.seriesProduct}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-4 col-lg-4">
                        <div class="row">
                          <div class="symbol text-center" *ngFor="let imageAlls of productOne.productImagesResponses">
                            <img class="image-input-wrapper w-100 h-100" src="data:image/png;base64,{{imageAlls.imageProduct}}"  alt="">
                          </div>
                        </div>
                        <div class="row">
                          <label for="staticImageProduct" class="fw-bolder pt-2 pb-2">Imagen del Material</label>
                        </div>
                        <div class="m-8"></div>
                        <div class="row">
                          <div class="symbol symbol-160px">
                            <img src="assets/img/m-riel-superior.png" alt=""/>
                          </div>
                        </div>
                        <div class="row-auto">
                          <label for="staticImageProduct" class="fw-bolder pt-2 pb-2">Medida del Material</label>
                        </div>
                      </div>

                    </div>

                      <!-- <div class="fv-row mb-10">
                          <button type="submit" class="btn btn-primary w-40" style="background-color: #161654; color: white">Adquirir</button>
                      </div> -->

                      <!-- <pre>{{productOne | json}}</pre> -->
                      <!-- <div>{{productOne.nameProduct.charAt(0).toUpperCase() + productOne.nameProduct.slice(1)}}</div> -->
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>



<div class="modal fade" id="kt_modal_see_filter" tabindex="-1" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered mw-650px">
      <div class="modal-content">
          <!--begin::Modal header-->
          <div class="modal-header">
              <!--begin::Modal title-->
              <h2 class="fw-bolder">Opciones de Filtrado</h2>
              <!--end::Modal title-->
              <!--begin::Close-->
              <div id="kt_customers_export_close" class="btn btn-icon btn-sm btn-active-icon-primary">
                  <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                  <span class="svg-icon svg-icon-1" data-bs-dismiss="modal">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="" />
                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="" />
              </svg>
            </span>
                  <!--end::Svg Icon-->
              </div>
              <!--end::Close-->
          </div>
          <div class="modal-body scroll-y ">
              <label class="form-check form-check-custom form-check-solid mb-4">
                  <input class="form-check-input" type="checkbox" value="0" [(ngModel)]="nombreStatus" />
                  <span class="form-check-label fs-5 fw-bold">
                      Nombre
                  </span>
              </label>
              <label class="form-check form-check-custom form-check-solid mb-4">
                  <input class="form-check-input" type="checkbox" value="1" [(ngModel)]="categoriaStatus" />
                  <span class="form-check-label fs-5 fw-bold">
                      Categoria
                  </span>
              </label>
              <label class="form-check form-check-custom form-check-solid mb-4">
                  <input class="form-check-input" type="checkbox" value="2" [(ngModel)]="stockStatus"/>
                  <span class="form-check-label fs-5 fw-bold">
                      Stock
                  </span>
              </label>
              <label class="form-check form-check-custom form-check-solid mb-4">
                  <input class="form-check-input" type="checkbox" value="3" [(ngModel)]="precioStatus"/>
                  <span class="form-check-label fs-5 fw-bold">
                      Precio
                  </span>
              </label>
              <label class="form-check form-check-custom form-check-solid mb-4">
                <input class="form-check-input" type="checkbox" value="4" [(ngModel)]="longitudStatus"/>
                <span class="form-check-label fs-5 fw-bold">
                    Tamaño
                </span>
              </label>
              <label class="form-check form-check-custom form-check-solid mb-4">
                <input class="form-check-input" type="checkbox" value="5" [(ngModel)]="descripcionStatus"/>
                <span class="form-check-label fs-5 fw-bold">
                    Descripcion
                </span>
              </label>

              <div class="d-flex justify-content-end">
                  <button type="reset" class="btn btn-light btn-active-light-primary me-2" data-bs-dismiss="modal" data-kt-customer-table-filter="reset" (click)="resetFilter()">Restablecer</button>
                  <button type="submit" class="btn btn-primary" data-bs-toggle="modal"  (click)="validFilter()">Aplicar</button>
              </div>

          </div>
      </div>
  </div>
</div>
