<div class="content d-flex flex-column flex-column-fluid" id="kt_content" style="padding: 5px 0 !important;">
  <div class="toolbar" id="kt_toolbar">
      <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
          <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
              <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Calendario</h1>
              <span class="h-20px border-gray-200 border-start mx-4"></span>
              <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                  <li class="breadcrumb-item text-dark">Lista de Tareas de los Empleados</li>
              </ul>
          </div>
      </div>
  </div>

  <div class="post d-flex flex-column" id="kt_post">
    <div id="kt_content_container" class="container-fluid" >
        <div class="card">
            <div class="card-header border-0 pt-6">
              <!-- <div class="row">
                <div class="col-xl-6">
                  <select class="form-select form-select-sm form-select-solid"  [(ngModel)]="selectedEmployeId" (change)="getCalendarUser()">
                    <option  value="0">Seleccione un empleado</option>
                    <option *ngFor="let employee of employeesAlt;" [value]="employee.id" >{{employee.userName}}</option>
                  </select>
                </div>
                <div class="col-xl-6">
                  <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base" >
                    <button type="button" class="btn btn-light-primary me-3"   data-bs-toggle="modal" data-bs-target="#kt_modal_add_task">
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="" />
                        </svg>
                    </span>Agregar Tarea</button>
                  </div>
                </div>
              </div> -->
                <div class="card-title">
                    <div class="d-flex align-items-center position-relative my-1 ">
                      <select class="form-select form-select-lg form-select-solid w-100"  [(ngModel)]="selectedEmployeId" (change)="getCalendarUser()">
                        <option  [value]="0">Seleccione un empleado</option>
                        <option *ngFor="let employee of employeesAll;" [value]="employee.id" >{{employee.userName}}</option>
                      </select>
                    </div>
                </div>
                <div class="card-toolbar">

                    <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base" >
                      <button type="button" class="btn btn-light-primary me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_add_task">
                        <span class="svg-icon svg-icon-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-filter-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M6 11.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                          </svg>
                        </span>Agregar Tarea</button>
                    </div>
                </div>
            </div>

            <div class="card-body pt-4 border border-active-dark">
              <ng-container *ngIf='calendarVisible'>
                <div class='demo-app-main'>
                  <full-calendar  [options]='calendarOptions'>
                    <ng-template #eventContent let-arg>
                      <b>{{ arg.timeText }}</b>
                      <i>{{ arg.event.title }}</i>
                    </ng-template>
                  </full-calendar>
                </div>
              </ng-container>
              <ng-container *ngIf='calendarVisible1'>
                <div class='demo-app-main'>
                  <full-calendar  [options]='calendarOptions'>
                    <ng-template #eventContent let-arg>
                      <b>{{ arg.timeText }}</b>
                      <i>{{ arg.event.title }}</i>
                    </ng-template>
                  </full-calendar>
                </div>
              </ng-container>
            </div>
        </div>

    </div>
</div>

</div>


<div class="modal fade" id="kt_modal_add_task" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header" id="kt_modal_update_user_headerqwe">
              <h2 class="fw-bolder">Agregar Nueva Tarea</h2>
              <div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal" aria-label="Close">
                  <span class="svg-icon svg-icon-1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                transform="rotate(-45 6 17.3137)" fill=""/>
                          <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                                fill=""/>
                      </svg>
                  </span>
              </div>
          </div>
          <div class="modal-body">
              <!-- <form class="mx-5" (ngSubmit)="agregarDatos()"> -->
                  <div class="mb-5">
                      <div class="fv-row mb-10">
                          <label class="form-label required">Nombres de Usuario</label>
                          <input name="userName" [(ngModel)]="nombreUsuario" class="form-control form-control-lg form-control-solid" disabled/>
                      </div>
                      <div class="row">
                        <div class="fv-row col-6 form-outline contenido col-12 col-sm-6 mb-10">
                          <label class="form-label fw-bolder text-dark fs-6 required">Fecha de Inicio </label>
                          <input class="form-control form-control-lg form-control-solid" [(ngModel)]="fechaInicio"
                                type="date" />
                        </div>
                        <div class="fv-row col-6 form-outline contenido col-12 col-sm-6 mb-10">
                          <label class="form-label fw-bolder text-dark fs-6 required">Fecha de Final </label>
                          <input class="form-control form-control-lg form-control-solid" [(ngModel)]="fechaFinal"
                                type="date" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="fv-row col-6 form-outline contenido col-12 col-sm-6 mb-10">
                          <label class="form-label fw-bolder text-dark fs-6 required">Hora Inicio </label>
                          <input class="form-control form-control-lg form-control-solid" [(ngModel)]="horaInicio"
                                type="time" autocomplete="off"/>
                        </div>
                        <div class="fv-row col-6 form-outline contenido col-12 col-sm-6 mb-10">
                          <label class="form-label fw-bolder text-dark fs-6 required">Hora Final </label>
                          <input class="form-control form-control-lg form-control-solid" [(ngModel)]="horaFinal"
                                type="time" autocomplete="off"/>
                        </div>
                      </div>
                      <div class="row">
                        <label class="form-label fw-bolder text-dark fs-6 required">Descripcion </label>
                        <div class="pb-8">
                          <textarea class="form-control form-control-sm form-control-solid" rows="3" placeholder="Descripcion de la Tarea" [(ngModel)]="descripcion">{{descripcion}}</textarea>
                        </div>
                      </div>


                      <div class="fv-row mb-10">
                          <button (click)="agregarDatos()" type="submit" class="btn btn-primary w-100" data-bs-dismiss="modal"  style="background-color: #161654; color: white">Agregar Tarea</button>
                      </div>
                  </div>
              <!-- </form> -->
          </div>
      </div>
  </div>
</div>


<!--
<div class="card">
haber
<select class="form-select form-select-sm form-select-solid"  [(ngModel)]="selectedEmployeId" (change)="getCalendarUser()">
  <option  value="0">Seleccione un empleado</option>
  <option *ngFor="let employee of employeesAlt;" value=""></option>
  <option *ngFor="let employee of employeesAlt;" [value]="employee.id" >{{employee.userName}}</option>
</select>
{{selectedEmployeId}}
  zs
<select class="form-select form-select-sm form-select-solid"  [(ngModel)]="selectedPersonId" (change)="getCalendarUser()">
  <option  value="0">Seleccione un empleado</option>
  <option *ngFor="let car of cars;" [value]="car.id" >{{car.name}}</option>
</select>
{{selectedPersonId}}
<button >
  Abre el modal
</button>
nombre
<input type="text" [(ngModel)]="nombreUsuario">
horaInicio
<input type="date" [(ngModel)]="fechaInicio">
<input type="time" [(ngModel)]="horaInicio">
horaFinal
<input type="date" [(ngModel)]="fechaFinal">
<input type="time" [(ngModel)]="horaFinal">


<input type="text" [(ngModel)]="descripcion">



<button (click)="agregarDatos()">
  Guardar Datos
</button>
</div>

<ng-container *ngIf='calendarVisible'>
  <div class='demo-app-main'>
    <full-calendar  [options]='calendarOptions'>
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>
</ng-container>
<ng-container *ngIf='calendarVisible1'>
  <div class='demo-app-main'>
    <full-calendar  [options]='calendarOptions'>
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>
</ng-container>
 -->







